{% extends 'base.html.twig' %}
{% block body %}
    <style type="text/css">
        .dot {
          height: 25px;
          width: 25px;
          background-color: #c7a527;
          color: #fff;
          font-weight: bold;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
        }
    </style>

    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="inbox_chat">
                    <div class="chat_list active_chat">
                        <div class="chat_people">
                          <div class="chat_img"> <img src="{{ asset('template/img/a2.jpg') }}" alt="sunil"> </div>
                          <div class="chat_ib">
                            <h5> 
                                {{ chatBot.botname }} <span class="chat_date"> {{ chatBot.createdAt|date('d/m/Y') }} </span>
                            </h5>
                            <p>{{ chatBot.description }}</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs" style="padding-top: 10px;">
                <h3 style="border-bottom: solid 1px silver;">  Configuration de la question N&deg; {{question.order }}  </h3>
                <br/>
                <div class="msg_history" id="chatbox">
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> 
                            <img src="{{ asset('template/img/a2.jpg') }}" alt="sunil"> 
                        </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    {{ question.title }} 
                                </p>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <br style="clear:both;" />
                    <br style="clear:both;" />
                    <div class="heading" style="border-top: solid 1px silver;">
                        <h5> Modification d'une option  de r&eacute;ponse 
                            <span class="badge" style="background:#05728f none repeat scroll 0 0;color:#fff;font-weight: normal;"> {{ answer.optionValue }} </span>
                        </h5>
                    </div>
                <br/>
                    {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <div class="col-md-12">
                        <button type="submit" class="btn btn-warning"> Enregistrer les modifications </button>                     
                    </div>
                    {{ form_end(edit_form) }}
                    <div class="col-md-12">
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger"> Supprimer cette option de reponse </button>
                        {{ form_end(delete_form) }}
                    </div>

                </div>
                
            </div>
        </div>
        
        <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>
        
    </div>
{% endblock %}


{#

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Answer creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('answer_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}



















{% extends 'base.html.twig' %}

{% block body %}
    <h1>Answer edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('answer_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}


#}